.App{
  width: 250px;
  height: 350px;
  background-color: rgb(17, 46, 46);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3em;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px grey;
}

.btn{
  padding: 15px;
  margin: 8px;
  background-color: rgb(112, 145, 80);
  outline:none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1em;
}
.btn:hover{
  background-color: aquamarine;
  color: black;
}
span{
  font-size: 2em;
  padding: 5px;
  font-weight: bolder;
}
.watch-face{
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
}